<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="com.polytech.model.jeu.batiment"
            class="jeu.batiment.BatimentPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="com.polytech.model.jeu.util"
            class="jeu.util.UtilPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="com.polytech.model.jeu.unite"
            class="jeu.unite.UnitePackage"
            genModel="model/My.genmodel"/>
   </extension>

</plugin>
